.app {
    text-align: center;
  }
  
.app-header {
    background-color: #222;
    height: 6rem;
    color: white;
  }
  
.app-title {
    font-size: 1.5em;
    padding: 1%;
    margin: 0;
    display: inline-block;
  }
  
.app-intro {
    font-size: large;
  }