.app-header {
    text-align: center;
    background-color: #222;
    height: 110px;
    color: white;
  }
  
.appTitle {
    font-size: 40px;
    padding-top: 28px;
    margin: 0;
    display: inline-block;
  }
  
.app-intro {
    font-size: large;
  }