.form-selector {
font-size: 15px;
margin-left: 5px;
margin-bottom: 20px;
margin-top: 10px;
padding: 6px;
height: 33px;
width: 100%;
border: none;
border-bottom: 1px solid #222;
}

.form-selector:focus {
    outline: none;
}