.theme-dark {
    display: inline-block;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 1.1rem;
    border-radius: 0.3rem;
    background-color: #222;
    color: #EEE;
    border-style: none;
    font-size: 1em;
    font-weight: bold;
}

.theme-dark:focus {
    display: none;
}