.table {
    left: 200px;
    position: absolute;
    top: 190px;
    width: 700px;
    text-align:center;
}

.t-date-th, .t-item-th, .t-price-th, .t-category-th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #222;
}

